@font-face {
  font-family: 'iconfont';  /* project id 671119 */
  src: url('//at.alicdn.com/t/font_671119_ifyid75jysi.eot');
  src: url('//at.alicdn.com/t/font_671119_ifyid75jysi.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_671119_ifyid75jysi.woff') format('woff'),
  url('//at.alicdn.com/t/font_671119_ifyid75jysi.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_671119_ifyid75jysi.svg#iconfont') format('svg');
}

.iconfont{
	width: 100%;
	display: inline-block;
    height: 40px;
    margin: 15px 0px;
    color: deepskyblue;
     font-family:"iconfont" !important;
    font-size:20px;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
.icon_up:before ,.icon_man:before,.icon_comment:before,.icon_home:before,.icon_cart:before,.icon_smile:before,.icon_dropdown{
	font-size:50px;
}



.icon_up:before {
	
	background-color: black;
 content:"\e6a9"
}
.icon_comment:before {
 content:"\e6a7";
}

.icon_search:before{
	font-size: 40px;
	content: "\e6a4";
}

.icon_good:before{
	content: "\e699";
}

.icon_man:before{
	content: "\e629";
}
.icon_home:before{
	content: "\e61f";
}
.icon_star:before{
	content: "\e628";
}
.icon_cart:before{
	content: "\e68e";
}
.icon_smile:before{
	content: "\e641";
}
.icon_dropdown:before{
	content: "\e600";
}

.icon_coin:before{
	content: "\e6fb";
}
