body{
	text-align: center;
	margin: 0px auto;
}
a{
	text-decoration: none;
}

ul{
	margin: 0px;
	padding-left: 0px;
	list-style: none;
}
.clear{
	clear: both;
}
.HEAD{
	
    text-align: center;
	margin: 0px auto;	
	height: 120px;
	
	border: solid;
	background-color: aqua;
	color: white;
	padding-bottom: 0px;

}



.guid{
	clear: both;
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 60px;
	display: inline-block;
	text-align: left;
}

.dropbtn {
    background-color: deepskyblue;
    color:white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 100px;
}


.dropdown {
    position: relative;
    display: inline-block;


}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: gainsboro;
    width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}


.dropdown-content a:hover {background-color: darkturquoise}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: black;
}

.top_bar{
	margin: 0px;
	height: 50px;
	width: 300px;
	float: right;
}
.top_bar i{
	
	width: 50px;
	margin: 0px;
}

.top_bar input{
	width: 240px;
	height: 30px;
}



.django-ckeditor-widget{
	width: 650px;
}
.question_post input{
	padding: 10px;
	padding-left: 20px;
	padding-right: 20px;
	border: none;
}

.return_top{
	border: solid 2px;
	border-radius: 65px;
	position:fixed;
    bottom:100px;
    right:0px;
    background-color: black;
    
    overflow: hidden;
}

.return_top a{
	
    display:block;
    width:70px;
    height: 70px;
}
.headimg{
   	float: right;
   	border: solid;
   	border-radius: 40px;
   	height: 70px;
   	width: 70px;
   }

@media only screen and (min-width: 800px) {
	
	body{
		width: 900px;
	}
	
}


