body{
	text-align: center;
	margin: 0px auto;
}

.clear{
	clear: both;
}
.HEAD{
	
    text-align: center;
	margin: 0px auto;	
	height: 120px;
	
	border: solid;
	background-color: aqua;
	color: white;
	padding-bottom: 0px;

}



.guid{
	clear: both;
	margin: 0px;
	padding: 0px;
	float: left;
	height: 60px;
	
}

.dropbtn {
    background-color: deepskyblue;
    color:white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 100px;
}


.dropdown {
    position: relative;
    display: inline-block;


}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: gainsboro;
    width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}


.dropdown-content a:hover {background-color: darkturquoise}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: black;
}

.django-ckeditor-widget{
	width: 650px;
}
.question_post input{
	padding: 10px;
	padding-left: 20px;
	padding-right: 20px;
	border: none;
	background-color: gainsboro;
}

@media only screen and (min-width: 800px) {
	
	body{
		width: 900px;
	}
	
}


