	body{
		height: 1000px;
	}
	.user{
   }
   
.clear{
	clear: both;
}
	.object{
		text-align: center;
		margin: 0px auto;
		height: 600px;
	}


	.sub{
		text-align: center;
		vertical-align: middle;
		border: none;
		border-radius:80px;
		margin: 10px;
		padding: 20px;
		width: 250px;
		height: 250px;
		font-size: 30px;
		 display: inline-block;
        background-color: gainsboro;
		
	}
	
.sub:hover{
	 background-color: darkturquoise;

}