	body{
		height: 1000px;
	}
	.user{
		height: 120px;
   }
   
.clear{
	clear: both;
}
	.object{
		text-align: center;
		margin: 0px auto;
		height: 600px;
	}


	.sub{
		
	
		
	}
	
.sub a{
	text-align: center;
	margin: 0px auto;
	width: 80px;
	display: none;
	float: none;
}

.sub h3{
	text-align: center;
	font-size: 20px;
	padding: 20px;
	width: 150px;
	background-color: greenyellow;
	transition:width 1s;
	-webkit-transition:width 1.5s;
}

.sub:hover h3{
	padding-right: 0px;
	padding-left: 0px;
	width: 100%;
	
}
.sub:hover a{
	display: inline-block;
	text-align: center;
	padding: 10px 20px;
	font-size: 20px;
	color: darkslateblue;
	text-decoration: none;
	
	
}
.sub span{
	position: relative;
}
.sub a:hover{
	color: white;
	background-color: deepskyblue;
}

.sub span{
	transition:0.5s;
}

.site{
	min-height: 150px;
	margin-bottom: 10px;
	width: 100%;
	border-radius: 5px;
	background-color: white;
	clear: both;
}


.web_list{
	padding: 10px 0px;
	clear: both;
}

.text{
	margin-top: 5px;
	color: black;
	font-size: 15px;
	text-align: center;
}
.web_p {
	width: 150px;
	height: auto;
	display: inline-block;
}
 .web_p a{
	
	width: 100%;
	height: auto;
	padding: 10px;
	float: left;
	display: inline-block;
}



.web_p a:hover{
	background-color: gainsboro;
}


