.list_show{
	height: 100px;
	border: 4px outset cadetblue;
	text-align: center;
	margin: 5px;
	border-radius: 10px;
	padding: 5px;
}

.list_show:hover{
	background-color: gainsboro;
}






.user_info{
	text-align: center;
	margin: 0px auto;
	height:100px;
	width: 80px;

	float: left;
	
}

.user_info img {
	background-color: black;
	padding: 5px;
	border-radius:20px;
	border: solid;
	float: left;
	height:50px;
	 width:50px;
	
}


.context{
	margin: 10px;
	height: 100px;
	
}

.context h5{
	float: left;
	color: mediumvioletred;
	font-size: x-small;
}

.context h3{
	max-height: 80px;
	overflow: hidden;
}

.pagination{
	padding-top: 40px;
	margin: 0px auto;
	text-align: center;
	height: 50px;
	width: auto;
}

.pagination a{
	margin: 5px;
	text-decoration: none;
	padding: 10px;
	border:2px solid gainsboro;
	background-color: lightgreen;
	color: black;
	border-radius: 10px;
}

.current{
	padding: 10px;
	font-size: 20px;
}


.page_list a:hover{
	padding: 10px;
	color: aliceblue;
	background-color: deepskyblue;
	border-right: outset;
}

.question_post{
	height: 400px;
}

.question_post form{
	height: 400px;
	
}
