.clear{
	clear: both;
	overflow: hidden;
}
.qus_text{
   	border: solid;
   	text-align: left;
   	height: auto;
     padding: 20px;
}


.comment{
	text-align: center;
	margin: 0px auto;
	border: solid 2px;
}

.comment p{
	margin: 0px;
	padding: 0px;
}

.text{
	text-align: left;

	padding: 40px;
	height: 200px;
}
.text p{
	padding-left:30px ;
}
.text a{
	float: right;
}
.reply_all{
	box-shadow: 2px 2px black;
	text-align: center;
	margin: 0px auto;
	max-height:253px;
	width: 500px;
	overflow: hidden;
}
.reply_all_1{
	box-shadow: 2px 2px black;
	text-align: center;
	margin: 0px auto;
	width: 500px;
}

.reply{
	border: solid 1px gainsboro;
	width: 500px;
	min-height: 40px;
	height: auto;
	background-color: whitesmoke;
	text-align: left;
}

.reply p{
	
	margin-left: 10px;
	padding-left: 10px;
}
.reply a{
	text-decoration: none;
	float: right;
}

.reply1{
	font: xx-small;
	float: left;
	width: 200px;
	height: 20px;
	background-color: white;
}
.reply2{
	padding: 0px;
	margin: 0px;
	float: right;
	width:250px;
	height: 10px;
}


.user_info {
	width:  20%;
	margin-right: 30px;
	height: auto 100%;
	background-color: gainsboro;
	float: left;
}

input{
	font-size: 20px;
	padding-top: 10px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 0px;
	border: none;
	background-color: gainsboro;
}
