<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Change Password</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/change_password.css' %}"/>
</head>
<body>
    <h1></h1>
    <div class="HEAD">
    	<h1>请问你今天修改密码没？</h1>
    </div>
    
    
    <div class="FORM">
    <form action="{% url 'changepassword' %}" method="post">
        {% csrf_token %}
        {% for field in changepasswordform %}
        <div>
            <label for="field.id_for_label">{{ field.label }}</label>
            {{ field }}
            <p>{{ field.errors.as_text }}</p>
        </div>
        {% endfor %}
        <p class="error_msg">{{ changepasswordform.non_field_errors.as_text }}</p>
         <input type="submit" value="修改密码">
    </form>
    </div>
</body>
</html>