<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Change Password</title>
</head>
<body>
    <h1></h1>
    <form action="{% url 'changepassword' %}" method="post">
        {% csrf_token %}
        {% for field in changepasswordform %}
        <div>
            <label for="field.id_for_label">{{ field.label }}</label>
            {{ field }}
            <p>{{ field.errors.as_text }}</p>
        </div>
        {% endfor %}
        <p>{{ changepasswordform.non_field_errors.as_text }}</p>
         <input type="submit" value="修改密码">
    </form>
</body>
</html>