<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}" />
</head>
<body>
	<div class="HEAD">
    <h1>登录</h1>
	</div>
	
	<div class="FORM">
    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <div>
            <label for="id_username">用户名</label>
            <p><input type="text" maxlength="10" name="username" id="id_username" onchange="fun()" required /></p>
            <label for="{{ login_form.password.id_for_label }}">{{ login_form.password.label }}</label>
            <p>{{ login_form.password }}</p>
            <p>{{ login_form.non_field_errors.as_text }}</p>
        </div>

        <input type="submit" value="登录">
        
        <a href="" id="forgetpassword">忘记密码？</a>
    </form>
    
	   <div class="guid_rgs">
	   <a href="{% url 'register' %}">点击这个传送门获得账户</a>
	   </div>
	   
	</div>
<script>
    function fun(){
        var obj=document.getElementById("id_username").value;
        href="{% url 'forgetpassword' %}?name="+obj;
        document.getElementById("forgetpassword").href=href;
    }
</script>
</body>
</html>