<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>个人信息</title>
        {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/show_user_info.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/iconfont.css' %}" />
</head>
<body>
   {% if not error_msg %}
   
      <a href="/main" style="float: right;background-color: deeppink;padding: 5px;color: wheat;text-decoration: none;font-size: 15px;">回到首页</a>
     
     <div class="userinfo">
       <h2 style="margin: 0px auto;text-align: center;width: 400px;">个人信息</h2>
       
       
       
       <div class="touxiang">
            <img src="{{ userinfo.headimg.url }}"> 
            	<h3>{{ userinfo.nickname }}</h3>
        </div>
          
        
         <button onclick="window.open('{% url 'edituserinfo' %}')"><span>编辑个人资料</span></button>
  
 
         <div class="your_number">
         	<li>
         	<i class="iconfont icon_good">
           {{ userinfo.like_num }}</i>
           </li>
           <li class="iconfont icon_coin">
           	{{ integral }}
           </li>
         </div>
         
         <div>
           {% autoescape off %}

            <li style="color: gray;list-style: none;padding: 20px;">{{ userinfo.aboutme }}</li>
           <div class="more_info">
           	<ul>
           		<li>电话：{{ userinfo.tel }}</li>
           		<li>QQ  ：{{ userinfo.QQ }}</li>
           		<li>专业 ：{{ userinfo.major }}</li>
           		<li>年级：{{ userinfo.grade }}</li>
           	</ul>
           
          </div>

           {% endautoescape %}
          </div>
   
     {% autoescape off %}
     <div class="history_records">
       <h2 class="records_head">历史记录</h2>
       <ul>
       {% for record in history_records %}
       <li class="records_details">
           <a href="{% url 'comment' %}?question_id={{ record.viewed_question.pk }}">
           	{{ record.viewed_question.question_text }}
           	<span class="time">{{ record.view_time }}</span>
           </a>
           
       </li>
       {% endfor %}
       </ul>
     </div>
    
   {% endautoescape %}
   
</div>
   
 
		  <div class="return_top">
		    <a href="javascript:scrollTo(0,0);" style="background-image: url({% static 'images/top.jpg' %});;"></a>
		   </div>
 
   {% endif %}
   {% if error_msg %}
	    <div class="error_msg">
	         <p>{{ error_msg }}</p>
	         <button onclick="window.open('{% url 'edituserinfo' %}')"><span>编辑个人资料</span></button>
	     </div>
	{% endif %}
</body>
</html>