<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>个人信息</title>
        {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/show_user_info.css' %}" />
</head>
<body>
   {% if not error_msg %}
   <div class="userinfo">
       <h2>朋友，这你是个人信息</h2>
        <div class="touxiang">
            <img src="{{ userinfo.headimg.url }}"> 
            	<h3>{{ userinfo.nickname }}</h3>
        </div>
          
          <div>
           <p>关于个人</p>
           {% autoescape off %}

           {{ userinfo.aboutme }}

           {% endautoescape %}
</div>

          









   </div>
   {% endif %}
  <div class="error_msg">
       <p>{{ error_msg }}</p>
   </div>

   <button onclick="window.open('{% url 'edituserinfo' %}')"><span>编辑个人资料</span></button>




</body>
</html>