
{% extends 'base.html' %}
{% load staticfiles %}
{% block title%}<title>主页(❤ ω ❤)</title>{% endblock %}
{% block extracss %} 
<link href="{% static 'css/main.css' %}" type="text/css" rel="stylesheet" /> 
{% endblock %}


{% block content %}
	{% if not is_aquired %}
	<div id="dialog" title="亲爱的{{ welcome_name }}">恭喜你获得100积分，可以用来悬赏哦</div>
    {% endif %}
    <div class="user">
    <h3 style="float: left;">HELLO {{ welcome_name }} , 请问今天要来点题吗？</h3>
    </div>
     <div class="clear"></div>
     
  
   
   <div class="site" id="web">
		
			<ul class="web_list">
				<li class="web_p">
					<a href="/account/showuserinfo">
					<i class="iconfont icon_man">
					
					</i>
				    <span class="text">个人中心</span>
					</a>
				</li>
				<li class="web_p">
					<a href="/account/msg"> 
					<i class="iconfont icon_comment" style="position: relative;">
						 <div class="msg_num" id="msg_num">
						   {{ msg_num }}
						  </div>
					</i>
				    <span class="text">消息中心</span>
					</a>
				</li>
			
			</ul>
			
		   </div>
    
    <div class="object">
    	 
    	 <div class="sub">
    	 	<h3>数学</h3>
    	 	<a href="{% url 'post_question' 'weijifen' %}"><span>微积分 |</span></a>
    	    <a href="{% url 'post_question' 'xiandai' %}"><span>线 代 |</span></a>
    	 </div>
    	 
    	 <div class="sub">
    	 	<h3>其他学科</h3>
    	 </div>
    	 
    	 <div class="sub">
    	 	<h3>其他学科</h3>
    	 </div>
    	
    </div>
    
    
    
    
    
    
    
    
    
{% endblock %}
<script>
{% block javascript %}
	{% if not is_aquired %}
		$('#dialog').dialog({
			dialogClass: "no-close",
			buttons:[
				{
					text:'太好了',
					click:function(){
						$.post({% url 'main' %},{'get_integral':'TRUE'});
						$(this).dialog('close');
					}
				}
			]
		});
	{% endif %}
	
	
	$(document).ready(
	function(){
	
	if ({{ msg_num }}>0)
	{
		$('#msg_num').css("display","block");
	}
	
	}
	);
{% endblock %}

</script>

