
{% extends 'base.html' %}
{% load static %}

    {% block title %}<title>{{ question.question_text }}</title>{% endblock %}
    {% block extracss %} 
	<link href="{% static 'css/question_detail.css' %}" type="text/css" rel="stylesheet" /> 
	{% endblock %}

    {% block content %}
    {% autoescape off %}
    <div class="qus_text">
    <p>问题:</p>
    {{ question.question_text }}
    </div>
    {% for comment in comments %}
    
    	
    	
    <div class="comment" id="{{ comment.pk }}">
        {% for comment_user_info in comment.comment_user.userinfo.all %}
       
       <div class="user_info">
       	
       	<img src="{{ comment_user_info.headimg.url }}" height="100px" width="100px" >
       	<h3 style="font: 30px;">{{ comment_user_info.nickname }}</h3>
       	
       	<p>{{ comment.comment_time }}</p>
       </div>
       
        {% endfor %}
        <div class="text">
        {{ comment.comment_text }}
        
        <a style="text-decoration: none;" href="javascript:reply({{ comment.pk }})">回复</a>
       </div>

    <div class="reply_all" id="fld{{ comment.pk }}">
    {% for reply in comment.root.all %}
    
    <div class="reply" id="{{ reply.pk }}">
    	<div class="reply1">
    		
    		<p>{{ reply.comment_user }}回复：{{ reply.reply_user }}</p>
    	</div>
    	
        {{ reply.comment_text }} 
        
        <div class="reply2">
        {{ reply.comment_time }}
        <a href="javascript:reply({{ reply.pk }})">回复</a>
        </div>
    </div>
   
     {% endfor %}
     
       
    </div>   
      <a style="text-align: center;" href="javascript:show(fld{{ comment.pk }})">点击显示全部评论</a>
    
    </div>
    
    <div class="clear"></div> 
    {% endfor %}
    
    
    <form action="{% url 'comment' %}" method="post" id="comment_form">
        {{ comment_form }}
        <input type="hidden" value="{{ question.pk }}" name="question_id">
        <input type="submit" value="评论">
    </form>
    {% endautoescape %}
    {% endblock %}


<script>
    {% block javascript %}
    function reply(id)
    {
        $("#id_comment_id").val(id);
        $('html').animate({scrollTop:$('#comment_form').offset().top},300,function(){
        CKEDITOR.instances['id_comment_text'].focus();
        });
     }
    $('#comment_form').submit(function(){
        CKEDITOR.instances['id_comment_text'].updateElement();
        $.ajax({
            url:'{% url 'comment' %}',
            type:'POST',
            data: $(this).serialize(),
            cache:false,
            success:function(data){
                var html='<div class="reply" style="color:red;margin-left:100px" id="'+data['comment_id']+'">'+
        data['comment_text']+data['comment_date']+'<a href="javascript:reply('+data['comment_id']+')">回复</a><p>--------------------------</p></div>';
                var id=$('#id_comment_id').val();
                $('#'+id).after(html);
                $('html').animate({scrollTop:$('#'+data['comment_id']).offset().top},300);
                console.log(html);
            },
            error: function(xhr){
                console.log(xhr);
            }
        });
        return false;
    });
    
    
    function show(id){
    	var x=id;
    	if(x.className== 'reply_all'){
    		x.className= 'reply_all_1';
    	}
    	else{
    		x.className='reply_all';
    	}
    	
    }
    
    
    
    
    
    
    
    {% endblock %}
</script>
