
{% extends 'base.html' %}
{% load static %}

    {% block title %}<title>{{ question.question_text }}</title>{% endblock %}
    {% block extracss %} 
	<link href="{% static 'css/question_detail.css' %}" type="text/css" rel="stylesheet" /> 
	{% endblock %}

    {% block content %}
    {% autoescape off %}
    {{ question.question_text }}
    {% for comment in comments %}
    
    	
    	
    <div class="comment" id="{{ comment.pk }}">
        {% for comment_user_info in comment.comment_user.userinfo.all %}
       
       <div class="user_info">
       	<h3 style="font: 30px;">{{ comment_user_info.nickname }}</h3>
       	<p>{{ comment.comment_time }}</p>
       </div>
       
        {% endfor %}
        <div class="text">
        {{ comment.comment_text }}
        
        <a style="text-decoration: none;" href="javascript:reply({{ comment.pk }})">回复</a>
        {% if comment.comment_type == 1 %}
            <a href="javascript:admire({{ comment.pk }})">采纳</a>
        {% endif %}
       </div>

    
    {% for reply in comment.root.all %}
    <div class="reply_all">
    <div class="reply" id="{{ reply.pk }}">
    	<div class="reply1">{{ reply.comment_time }}</div>
        {{ reply.comment_text }}
        {% if reply.comment_img %}
        <img src="{{ reply.comment_img.url }}" height="100px" width="100px">
        {% endif %}
        <a href="javascript:reply({{ reply.pk }})">回复</a>
    </div>
    </div>
    
    
    
        {% endfor %}
        
        </div>
    
    <div class="clear"></div> 
    {% endfor %}
    
    
    <form action="{% url 'comment' %}" method="post" id="comment_form" enctype="multipart/form-data" name="comment_form">
        {{ comment_form }}
        <input type="file" name="comment_img" id="id_comment_img">
        <input type="hidden" value="0" name="comment_id" id="id_comment_id">
        <input type="hidden" value="{{ question.pk }}" name="question_id">
        <input type="hidden" value="0" name="comment_type" id="id_comment_type" >
        <input type="submit" value="评论">
        <button onclick="answer()" type="button" id="answer_button">回答问题</button>
    </form>
    {% endautoescape %}
    {% endblock %}


<script>
    {% block javascript %}
    <!--window.onerror=function(){return true;}-->
    function reply(id)
    {
        $("#id_comment_id").val(id);
        $('html').animate({scrollTop:$('#comment_form').offset().top},300,function(){
        CKEDITOR.instances['id_comment_text'].focus();
        });
        var comment_id=$('#id_comment_id');
        if (comment_id != '0'){
            $("#answer_button").attr("disabled","true");
        };
    }
    $('#comment_form').submit(function(){
        CKEDITOR.instances['id_comment_text'].updateElement();
        var form_obj=document.getElementById('comment_form');
        var formdata=new FormData(form_obj);
        $.ajax({
            url:'{% url 'comment' %}',
            type:'POST',
            data: formdata,
            cache:false,
            dataType:'json',
            contentType: false,
            processData: false,
            success:function(data){
                var html='<div class="reply" style="color:red;margin-left:100px" id="'+data['comment_id']+'">'+
        data['comment_text']+data['comment_date']+'<a href="javascript:reply('+data['comment_id']+')">回复</a><p>--------------------------</p></div>';
                var id=$('#id_comment_id').val();
                $('#'+id).after(html);
                $('html').animate({scrollTop:$('#'+data['comment_id']).offset().top},300);
                console.log(data);
            },
            error: function(xhr){
                console.log(xhr);
            }
        });
        return false;
    })
    function answer(){
        $('#id_comment_type').val('1');
        CKEDITOR.instances['id_comment_text'].updateElement();
        var form_obj=document.getElementById('comment_form');
        var formdata=new FormData(form_obj);
        $.ajax({
            url:'{% url 'comment' %}',
            type:'POST',
            data: formdata,
            cache:false,
            dataType:'json',
            contentType: false,
            processData: false,
            success:function(data){
                var html='<div class="reply" style="color:red;margin-left:100px" id="'+data['comment_id']+'">'+
        data['comment_text']+data['comment_date']+'<a href="javascript:reply('+data['comment_id']+')">回复</a><p>--------------------------</p></div>';
                var id=$('#id_comment_id').val();
                $('#'+id).after(html);
                $('html').animate({scrollTop:$('#'+data['comment_id']).offset().top},300);
                console.log(data);
            },
            error: function(xhr){
                console.log(xhr);
            }
        });
        return false;
    }
    function admire(id){
        $ajax({
           url:'{% url 'comment' %}',
           type:'POST',
           data:{'admire':'yes','comment_id':id},
           cache:false,
           success:function(data){
                console.log(data);
           },
           error:function(xhr){
                console.log(xhr);
           }
        });
        return false;
    }
    {% endblock %}
</script>
